@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
}

@layer base {
    body {
        @apply bg-slate-950 text-slate-50 antialiased;
    }
}